POSTGRES_DB=TransporteEscolarDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ChangeMe!
POSTGRES_PASSWORD_TEST=TestingChangeMe!
CONNECTIONSTRINGS__DEFAULT=Host=postgres;Port=5432;Database=TransporteEscolarDb;Username=postgres;Password=ChangeMe!;Include Error Detail=true;
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeThisPassword!
