# Secrets
.env

# Visual Studio
.vs/
**/*.user
**/*.suo

# Build outputs
**/bin/
**/obj/

# Optional: local docker override
docker-compose.override.yml

# Scripts SQL con datos sensibles
*.sql
CargaTitulares.sql
Scripts/

# Datos de clientes
**/datos_clientes.*
appsettings.Development.json
